* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helveticaneue.eot');
    src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue.woff2') format('woff2'),
         url('../fonts/helveticaneue.woff') format('woff'),
         url('../fonts/helveticaneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    min-width: 900px;
    height: 100%;
    min-height: 700px;
}

body {
    background: url('../img/bg2.jpg') no-repeat;
    background-size: cover;
    font-family: 'Helvetica';
    text-align: center;
}

/*=====================HEADER SECTION=======================*/

header {
    display: inline-block;
    width: 100%;
    height: 36px;
    background-color: #08599c;
    font-size: 0;
    text-align: right;
    white-space: nowrap;
}

.second-menu-group {
    margin-right: 20px;
}

header div {
    display: inline-block;
}

header a {
    display: inline-block;
    padding: 10px 12px;
    color: #60b5ed;
    font-size: .85rem;
    letter-spacing: .04rem;
    text-decoration: none;
    vertical-align: middle;
}

.first-menu-group a:hover {
    background-color: #4eabda;
    color: #fff;
}

.block5 {
    background: linear-gradient(to bottom, #51b1dc 0%, #2e7ac4 100%);
    box-shadow: inset 0 0 0 1px #479bd4;
    color: #fff;
}

.second-menu-group .flag-block a:hover {
    background: linear-gradient(to bottom, #51b1dc 0%, #2e7ac4 100%);
    box-shadow: inset 0 0 0 1px #479bd4;
    color: #fff;
}

.second-menu-group u {
    text-decoration: underline;
}

.line {
    height: 26px;
    border-left: 1px solid #56a2dc;
    vertical-align: middle;
}

.flag-block a {
    display: inline-block;
    padding: 6px 19px 7px;
    color: #fff;
    vertical-align: middle;
}

.flag-block a img {
    margin-right: 11px;
    vertical-align: middle;
}

.flag-block a span {
    display: inline-block;
    vertical-align: middle;
}

.block5 a {
    color: #fff;
}

/*=====================MAIN SECTION=======================*/

main {
    display: inline-block;
    height: 90%;
    text-align: center;
}

.valign-after::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.form-container {
    display: inline-block;
    width: 560px;
    height: 612px;
    vertical-align: middle;
}

.form-header {
    height: 60px;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
}

.form-header h2 {
    display: inline-block;
    vertical-align: middle;
}

.main-form {
    height: 550px;
    background-color: rgba(0, 0, 0, .6);
    color: #ccc;
}

/*===================== FACEBOOK-BUTTON =======================*/

.facebook-button {
    display: inline-block;
    width: 276px;
    height: 35px;
    margin: 36px 10px 25px;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(62, 87, 153) 0%, rgb(51, 64, 108) 100%);
    box-shadow: inset 0 1px 0 0 rgba(119, 136, 182, 1);
    color: #fff;
    font-size: 0;
    text-align: left;
}

.facebook-icon {
    display: inline-block;
    width: 36px;
    height: 35px;
    box-shadow: inset -1px 0 0 0 rgba(33, 60, 113, 1);
    font-size: 1.4rem;
    text-align: center;
}

.facebook-icon i {
    vertical-align: middle;
}

.facebook-text {
    display: inline-block;
    width: 205px;
    height: 35px;
    color: #fff;
    font-size: 1.02rem;
    text-align: center;
}

.facebook-text span {
    vertical-align: middle;
}

.facebook-arrow {
    display: inline-block;
    height: 35px;
    font-size: .7rem;
    text-align: center;
}

/*===================== END of FACEBOOK-BUTTON =======================*/

.main-form .separator {
    display: inline-block;
    width: 276px;
    color: #8e8f8e;
    vertical-align: middle;
}

.separator-line {
    display: inline-block;
    width: 122px;
    border-bottom: 1px solid #666;
    box-shadow: 0 1px #000;
    vertical-align: middle;
}

.main-form form {
    display: inline-block;
    width: 280px;
    height: 338px;
    margin: 27px 0 16px;
    vertical-align: middle;
}

.form-chackbox {
    display: inline-block;
    width: 100%;
    margin: 2px 0 20px;
    font-size: .95em;
    text-align: left;
}

.form-chackbox input {
    display: inline-block;
    vertical-align: middle;
}

.form-chackbox span {
    display: inline-block;
    vertical-align: middle;
}

.submit-button {
    align-self: center;
}

.input-field {
    width: 258px;
    height: 35px;
    margin-bottom: 16px;
    padding-left: 18px;
    border: 0;
    border-bottom: 1px solid #474847;
    background-color: #0f0f0f;
    color: #fff;
    font-size: .8em;
}

.input-field:focus {
    border-bottom: 1px solid #689bcc;
    outline: none;
    background-color: #1b5288;
    box-shadow: 0 0 10px 2px #689bcc , inset 0 0 7px #1e4b76;
}

.main-form form button {
    width: 150px;
    height: 36px;
    border: 1px solid #5ba4df;
    border-radius: 3px;
    background: linear-gradient(to bottom, #50aedb 0%, #2e7ac4 100%);
    color: #fff;
    font-size: .9em;
}

.main-form p {
    color: #ccc;
    font-size: .735em;
    vertical-align: middle;
}
