* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helveticaneue.eot');
    src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue.woff2') format('woff2'),
         url('../fonts/helveticaneue.woff') format('woff'),
         url('../fonts/helveticaneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 900px;
}

body {
    font-family: 'Helvetica';
    display: flex;
    flex-direction: column;
    background: url('../img/bg2.jpg') no-repeat 55% 30%;
    /*background-size: cover;*/
}

/*=====================HEADER SECTION=======================*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #08599c;
    padding-right: 20px;
}

.first-menu-group,
.second-menu-group {
    display: flex;
    align-items: center;
}

header div a {
    display: block;
    font-size: .85em;
    letter-spacing: 1px;
    color: #60b5ed;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    white-space: nowrap;
}

.first-menu-group a:hover {
    background-color: #4eabda;
    color: #fff;
}

.second-menu-group a:hover {
    background: linear-gradient(to bottom, #51b1dc 0%,#2e7ac4 100%);
    color: #fff;
    border: 1px solid #479bd4;
    padding: 9px 11px;
}
.second-menu-group .flag-block a:hover {
    background: linear-gradient(to bottom, #51b1dc 0%,#2e7ac4 100%);
    color: #fff;
    border: 1px solid #479bd4;
    padding: 5px 18px 6px;
}

.second-menu-group u {
    text-decoration: underline;
}

.line {
    height: 26px;
    border-left: 1px solid #56a2dc;
}

.flag-block a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 19px 7px;
    color: #fff;
}

.flag-block a img {
    margin-right: 11px;
}

.block5 a {
    padding: 10px 12px;
    color: #fff;
}

/*=====================MAIN SECTION=======================*/

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 612px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.main-form {
    color: #ccc;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.6);
}

.facebook-button {
  margin: 37px 0 25px;
}

.main-form .separator {
    width: 276px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8e8f8e;
}

.separator-line {
    width: 122px;
    border-bottom: 1px solid #666;
    box-shadow: 0px 1px #000;
}

.main-form form {
    height: 390px;
    display: flex;
    flex-flow: column;
    /*align-items: center;*/
    /*justify-content: flex-start;*/
    margin: 29px 0 20px;
}

.form-chackbox {
    display: flex;
    align-items: center;
    margin: 2px 0 25px;
    font-size: .95em;
}

.form-chackbox span {
    padding-left: 9px;
}

.submit-button {
    align-self: center;
}

.input-field {
    color: #fff;
    font-size: .8em;
    background-color: #0f0f0f;
    border: none;
    border-bottom: 1px solid #474847;
    height: 35px;
    width: 258px;
    padding-left: 18px;
    margin-bottom: 16px;
}

.input-field:focus {
    outline: none;
    border-bottom: 1px solid #689bcc;
    box-shadow: 0 0 10px 2px #689bcc , inset 0px 0px 7px #1e4b76;
    background-color: #1b5288;
}
